@model Hospital.Models.ReserveVisitViewModel

<h2>Reserve a Visit</h2>

<form asp-controller="UserPatient" asp-action="ReserveVisit" method="post">
    <label for="SelectedSpecialty">Search by Doctor's Specialty:</label>
    @Html.DropDownListFor(m => m.SelectedSpecialty, Model.Specialties, "All Specialties")
    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Doctor</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeSlot in Model.AvailableTimeSlots)
        {
            <tr>
                <td>@timeSlot.Date.ToShortDateString()</td>
                <td>@timeSlot.StartTime.ToShortTimeString()</td>
                <td>@timeSlot.DoctorOnDuty.Name</td>
                <td>
                    @if (timeSlot.Patient == null)
                    {
                        var version = string.Join(" ", timeSlot.Version.Select(b => b.ToString()));
                        <form asp-controller="UserPatient" asp-action="ReserveTimeSlot" method="post">
                            <input type="hidden" name="updatedTimeSlotId" value="@timeSlot.Id" />
                            <input type="hidden" name="versionStr" value="@version" />
                            <button type="submit">Reserve</button>
                        </form>
                        @if (ViewData["ConcurrencyError"] != null)
                        {
                            <div class="alert alert-danger">
                                @ViewData["ConcurrencyError"]
                            </div>
                        }
                    }
                    else
                    {
                        <span>Reserved</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>