@model Hospital.Models.ViewDoctorsViewModel

<h1>Doctors on Duty</h1>

<div>
    <h1>@Model.SelectedDate</h1>
    <h1>@Model.StartHour - @Model.EndHour</h1>
    <h1>@Model.DayOfWeek</h1>
    <h1>@Model.Doctors</h1>
</div>
