@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1>Choose an option:</h1>

    <div class="btn-group" role="group" aria-label="User Options">
        <a href="@Url.Action("Index", "Doctors")" class="btn btn-secondary btn-lg">Doctors</a>
        <a href="@Url.Action("Index", "Patients")" class="btn btn-secondary btn-lg">Patients</a>
        <a href="@Url.Action("Index", "Schedule")" class="btn btn-secondary btn-lg">Schedule</a>
        <a href="@Url.Action("Index", "ScheduleDoctors")" class="btn btn-secondary btn-lg">Schedule doctors</a>
        <a href="@Url.Action("ShowVisits", "UserDoctor")" class="btn btn-secondary btn-lg">Show visits</a>
    </div>
</div>